[CouchPotato]
# The hostname or IP
host = localhost
# The port for couchpotato
port = 5050
# Your API key here. See README for more information
api_key = 44602ed6bd964709b493b8b6e280cd27
# Set to 'True' if you want to enable ssl connection (HTTPS)
ssl = False
# Your web root for couchpotato. Empty value is OK
url_base =
